{% load static %}


<!DOCTYPE html>
<html Lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Carioquinhas</title>
  <link href="{% static 'carioquinha/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
</head>
<body onLoad="getLocation()">

    <p id="demo"></p>

    <script src="{% static 'carioquinha/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'carioquinha/js/jquery.js' %}"></script>




    <script type="text/javascript">
      
        var x = document.getElementById("demo");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            getGoogleLocationInfo(position.coords.latitude, position.coords.longitude);

            //x.innerHTML = "Latitude: " + position.coords.latitude + 
            //"<br>Longitude: " + position.coords.longitude;
        }

        function showError(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    x.innerHTML = "User denied the request for Geolocation."
                    break;
                case error.POSITION_UNAVAILABLE:
                    x.innerHTML = "Location information is unavailable."
                    break;
                case error.TIMEOUT:
                    x.innerHTML = "The request to get user location timed out."
                    break;
                case error.UNKNOWN_ERROR:
                    x.innerHTML = "An unknown error occurred."
                    break;
            }
        }


        function getGoogleLocationInfo(lat, lng) {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {

                var city = "";
                var state = "";
                var country = "";

                var json = JSON.parse(this.responseText);

                //console.log(json["results"].length);
                var resultLength = json["results"].length;

                for(var i = 0; i < resultLength; i++){
                    var addressComponentLength = json["results"][i]["address_components"].length;
                    //console.log(addressComponentLength);

                    for(var j = 0; j < addressComponentLength; j++){
                        var typesLength = json["results"][i]["address_components"][j]["types"].length;
                        //console.log(typesLength);

                        for (var x = 0; x < typesLength; x++){
                            if(json["results"][i]["address_components"][j]["types"][x] == "locality" && city == ""){
                                city = json["results"][i]["address_components"][j]["short_name"];
                                //console.log("CITY_FOR: " + city);
                            }
                            if(json["results"][i]["address_components"][j]["types"][x] == "administrative_area_level_1" && state == ""){
                                state = json["results"][i]["address_components"][j]["short_name"];
                                //console.log("STATE_FOR: " + state);
                            }
                            if(json["results"][i]["address_components"][j]["types"][x] == "country" && country == ""){
                                country = json["results"][i]["address_components"][j]["short_name"];
                                //console.log("COUNTRY_FOR: " + country);
                            }
                        }
                    }
                }             

                console.log("CITY: " + city);
                console.log("STATE: " + state);
                console.log("COUNTRY: " + country);

             document.getElementById("demo").innerHTML = this.responseText;
            }
          };

          lat = "-22.5060226";
          lng = "-43.1792914";

          var prefix = "https://maps.googleapis.com/maps/api/geocode/json?latlng=";
          var sufix  = "&key=AIzaSyCAN8HtOi-Om0uHY5QYRz1T73yOw8TrOAk";

          xhttp.open("GET", (prefix + "" + lat + "," + lng + "" + sufix), true);
          xhttp.send();
        }

    </script>

</body>
</html>